body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.generate-button {
    cursor: pointer;
    padding: 5px 10px;
}

input {
    padding: 5px;
    
}

.game-button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: 2px solid black;
    font-size: 18px;
    gap: 10px;
    justify-content: center;
}

.game-button {
    background-color: grey;
}

.game-button:hover {
    transform: translateY(-3px);
}

.winner {
    background-color: green;
    transition: all 0.5s ease;
}

.loser {
    background-color: red;
    transition: all 0.5s ease;
}

#message {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    transition: all 0.4s ease;
    transform: scale(0.7);
    opacity: 0;
}

#message.show {
    opacity: 1;
    transform: scale(1);
}
